*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ----
project1-1/helloworld
project1-1/mycat
project1-1/printcl
project1-1/readfile
project1-1/yell
week2/mymkdir
week2/recordfile
week2/getsize
week2/myls
project2/filescanner
week3/fork
week3/tokenize
week3/exec
week3/tokenize2
week3/tokenize3
week3/tokenize4
project3/mush
week4/pipetest
week4/forkpipe
week4/printffile
week4/fifo/consumer
week4/fifo/producer
week4/fixedFifo/consumer
week4/fixedFifo/producer
project4/lswc
